body {
   background-image: url("../images/bkg-2.png");
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 0;
}

nav {
    background-color: #ffffff;
    padding: 10px 175px 20px 128px;
    font-family: Arial, Helvetica, sans-serif;
}  

a {
    text-decoration: none;
}

.N1 {
    background-color: #4aaaa5;
    padding: 10px 10px 21px 10px;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
}

section {
    background-color: #ffffff;
    width: 960px;
    margin: 20px 70px 140px 130px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #4aaaa5;
    padding: 20px;
}

hr {
    color: #cccccc;
    border: solid;
    margin: 0 20px 0 20px;
}

p {
    margin: 16px 20px 25px 20px;
    padding: 0 0 10px 0;
}

.PicOne {
    margin-left: 25px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicOne:hover {
    background-color: red;
}

.PicTwo {
    margin-left: 25px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicTwo:hover {
    background-color: red;
}

.PicThree {
    margin-left: 25px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicThree:hover {
    background-color: red;
}

.PicFour {
    margin: 20px 20px 30px 25px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicFour:hover {
    background-color: red;
}

.PicFive {
    margin: 20px 20px 30px 8px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicFive:hover {
    background-color: red;
}

.NA {
    margin-left: 20px;
}

.EM {
    margin-left: 20px;
}

.MSG {
    margin-left: 20px;
}

.Submit {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0 0 30px 20px;
    padding: 10px 10px 10px 10px;
}


footer {
    background-color: #666666;
    text-align: center;
    padding: 15px;
    border-top: 10px solid #4aaaa5;
    width: 100%;
}

@media screen and (max-width: 980px) {
    section {
        width: 75%;
    } 

    .PicThree {
        margin: 29px;
    }

    .PicFour {
        margin: 20px 20px 30px -6px;
    }

    .PicFive {
        margin: 0px 20px 30px 30px;
    }


@media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 640px) {
        nav {
            position: static;
            width: 70%; 
        }

        section {
            margin: 20px 70px 140px 100px;
        }

       .PicOne {
           margin: 0px 0px 20px 120px;
       }

       .PicTwo {
           margin: 0px 0px 20px 120px;
       }

       .PicThree {
           margin: 0px 0px 0px 120px;
       }

       .PicFour {
           margin: 20px 20px 20px 120px;
       }

       .PicFive {
           margin: 0px 20px 30px 120px;
       }

    }
