body {
   background-image: url("../images/bkg-2.png");
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 0 20px 0 20px;
   overflow-x: hidden;
   width: 100%;
}

nav {
    background-color: #ffffff;
    padding: 10px 175px 20px 128px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1000px;
    margin-left: -20px;
}


a {
    text-decoration: none;
}

#N1 {
    background-color: #4aaaa5;
    padding: 10px 10px 21px 10px;
    margin-left: 22px;
    color: #ffffff;
    font-size: 20px;
}

#about {
    margin-left: 610px;
    font-size: 20px;
}


#portfolio {
    font-size: 20px;
}

#contact {
    font-size: 20px;
}

section {
    background-color: #ffffff;
    width: 960px;
    margin: 20px 30px 140px 130px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #4aaaa5;
    padding: 20px;
}

hr {
    color: #cccccc;
    border: solid;
    margin: 0 20px 0 20px;
}

p {
    margin: 16px 20px 25px 20px;
    padding: 0 0 10px 0;
}

#res {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    width: 420px;  
    margin: 50px auto 50px;
    background-color: #4aaaa5;
    color: #ffffff;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    width: 420px;  
    margin: 50px auto 50px; /* buttons pushed from the top by 10% */  
}  

.button{  
    margin: 8px;  
}  

.button a{  
    font-family: arial, sans-serif;
    font-size: 13px;  
	color: #777;
	text-shadow: 1px 1px 0px white;
    background: #ffffff; /* Old browsers */  
    background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* Opera11.10+ */  
    background: -ms-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* IE10+ */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */  
    background: linear-gradient(top, #ffffff 0%,#dfdfdf 100%); /* W3C */  
    -moz-border-radius: 3px;  
    -webkit-border-radius: 3px;  
    border-radius: 3px;  
    -moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4); 
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4); 
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);  
    padding: 6px 12px;  
}  

.button a:hover{  
    background: #ffffff; 
    background: -moz-linear-gradient(top, #ffffff 0%, #eee 100%);   
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eee)); 
    background: -webkit-linear-gradient(top, #ffffff 0%,#eee 100%);  
    background: -o-linear-gradient(top, #ffffff 0%,#eee 100%); 
    background: -ms-linear-gradient(top, #ffffff 0%,#eee 100%);   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eee',GradientType=0 );  
    background: linear-gradient(top, #ffffff 0%,#eee 100%); 
    -moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4); 
    -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4); 
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);  
}  

.button a:active{  
    background: #dfdfdf;
    background: -moz-linear-gradient(top, #dfdfdf 0%, #f1f1f1 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#f1f1f1)); 
    background: -webkit-linear-gradient(top, #dfdfdf 0%,#f1f1f1 100%);
    background: -o-linear-gradient(top, #dfdfdf 0%,#f1f1f1 100%);   
    background: -ms-linear-gradient(top, #dfdfdf 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#f1f1f1',GradientType=0 ); 
    background: linear-gradient(top, #dfdfdf 0%,#f1f1f1 100%);  

    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2) inset, 0px 1px 1px 0 rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2) inset, 0px 1px 1px 0 rgba(255,255,255,1);  
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2) inset, 0px 1px 1px 0 rgba(255,255,255,1);  

}

.button a > img{  
    padding-right: 8px;  
    position: relative;  
    top: 2px;  
}

.PicOne {
    margin-left: 25px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicOne:hover {
    background-color: red;
}

.PicTwo {
    margin-left: 25px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicTwo:hover {
    background-color: red;
}

.PicThree {
    margin-left: 25px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicThree:hover {
    background-color: red;
}

.PicFour {
    margin: 20px 20px 30px 25px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicFour:hover {
    background-color: red;
}

.PicFive {
    margin: 20px 20px 30px 8px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.PicFive:hover {
    background-color: red;
}

.teamProject {
    margin-bottom: 30px;
    border: 5px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
}

.teamProject:hover {
    background-color: red;
}
#name {
    margin-left: 20px;
    width: 300px;
}

#email {
    margin-left: 20px;
    width: 300px;
}
.NA {
    margin-left: 20px;
}

.EM {
    margin-left: 20px;
}

.MSG {
    margin-left: 20px;
}

#msg {
    width: 600px;
    height: 200px;
    margin-left: 20px; 
}

.Submit {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0 0 30px 20px;
    padding: 10px 10px 10px 10px;
    width: 150px;
}


footer {
    background-color: #666666;
    text-align: center;
    padding: 15px;
    border-top: 10px solid #4aaaa5;
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
}

@media screen and (max-width: 980px) {

    section {
        width: 75%;
    }

    #about {
        margin-left: 360px;
    }

    .PicThree {
        margin: 29px;
    }

    .PicFour {
        margin: 20px 20px 30px -6px;
    }

    .PicFive {
        margin: 0px 20px 30px 30px;
    }


@media screen and (max-width: 768px) {

    #about {
        margin-left: 205px;
    }

    #msg {
        width: 400px;
    }

    .section {
        margin-right: 80px;
    }

    #res {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        width: 420px;  
        margin: 50px auto 50px;
        background-color: #4aaaa5;
        color: #ffffff;
    }
    
    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
}

@media screen and (max-width: 640px) {
        nav {
            position: static;
            width: 70%; 
        }

        section {
            margin: 20px 70px 140px 100px;
        }

        #N1 {
            margin-left: -5px;
        }

        #about {
            margin-left: 80px;
        }

       .PicOne {
           margin: 0px 0px 20px 120px;
       }

       .PicTwo {
           margin: 0px 0px 20px 120px;
       }

       .PicThree {
           margin: 0px 0px 0px 120px;
       }

       .PicFour {
           margin: 20px 20px 20px 120px;
       }

       .PicFive {
           margin: 0px 20px 30px 120px;
       }

    }

@media screen and (max-width: 500px) {

        body {
            margin: 0 20px 0 0;
        }

        nav {
            position: static;
            width:65%;
            font-size: 14px;
            
        }

        #N1 {
            margin-left: -5px;
        }

        #about {
            margin-left: 15px;
            font-size: 15px
        }

        #portfolio {
            font-size: 15px;
        }

        #contact {
            font-size: 15px;
        }

       .PicOne {
           margin: 0 0 20px 65px;
       }

       .PicTwo {
           margin: 0 0 20px 65px;
       }

       .PicThree {
           margin: 0 0 20px 65px;
       }

       .PicFour {
           margin: 0 0 20px 65px;
       }

       .PicFive {
           margin: 0 0 20px 65px;
       }

       #msg {
           width: 300px;
       }

    }}